
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(254, 251, 241);
  font-weight: 400px;
  letter-spacing: 0%;
}

/***************** header ********************/
nav {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

nav > a {
  color: rgb(112, 52, 18);
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

#nav__center {
  margin-left: 40px;
  margin-right: 40px;
}

.header__content {
  margin: 140px 0px 194px 72px;
  color: rgb(112, 52, 18)
}

.header__content-text1 {
  margin-top: 21px;
  font-size: 80px;
  line-height: 88px;
  text-align: left;
  max-width: 848px;
  min-height: 264px;
}

.header__content-text2 {
  max-width: 571px;
  min-height: 125px;
  font-size: 32px;
  margin-top: 120px;
}

/****************** main *************************/

.main__page {
  display: flex;
  flex-wrap: wrap;
  color: rgb(112, 52, 18)
}

.imgcont {
  margin-left: 60px;
  margin-bottom: 60px;
}

#spimg1 {
  width: 312px;
  height: 310px;
}

#spimg2 {
  width: 312px;
  height: 310px;
}

#spimg3 {
  width: 312px;
  height: 312px;
}

#spimg4 {
  width: 312px;
  height: 416px;
}

#spimg5 {
  width: 312px;
  height: 310px;
}

#spimg6 {
  width: 312px;
  height: 312px;
}

#spimg7 {
  width: 312px;
  height: 310px;
}

#spimg8 {
  width: 312px;
  height: 310px;
}

#spimg9 {
  width: 312px;
  height: 310px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.row3 {
  display: flex;
  flex-wrap: wrap;
}

.imgcontbt {
  font-size: 24px;
  text-align: left;
  line-height: 28.8px;
  margin-left: 24px;
  max-width: 280px;
}

.imgcontst {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-align: left;
  color: rgba(112, 52, 18, 0.72);
  max-width: 280px;
  margin-left: 25px;
  text-transform: uppercase;
}


/*************************** footer ******************************/

footer {
  background-color: rgb(8, 73, 53);
  color: rgb(255, 255, 255);
}

.last__page {
  margin-left: 72px;
}

#footer__text {
  padding-top: 120px;
  font-size: 12px;
  letter-spacing: 1.6px;
  padding-bottom: 24px;
}

.footer__main-text {
  font-size: 30px;
  line-height: 38.4px;
  
}

.footer__main-text > span {
  color: rgba(255, 255, 255, 0.72);
  font-size: 29px;
}

.footer__main-text1 {
  margin-bottom: 110px;
}

.footerlinks {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
}

.footer__links > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.72);
}

.footer__links1 {
  margin-right: 169px;
}

.footer__links2 {
  margin-right: 207px;
}

.footer__links3 {
  margin-right: 189px;
}

@media screen and (max-width: 1300px) {
  .footer__links1 {
    margin-right: 50px;
  }
  
  .footer__links2 {
    margin-right: 65px;
  }

  .footer__links3 {
    margin-right: 65px;
  }

}

.footer__end {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 26px;
  padding-top: 19px;
}

.footer__end > p {
  padding-left: 72px;
}

/***************************** общие ****************************/
@media screen and (max-width: 768px) {
  
  .header__content-text0 {
    font-size: 14px;
  }
  .header__content-text1 {
    font-size: 60px;
    line-height: 70px;
  }

  .header__content-text2 {
    font-size: 28px;
    max-width: 450px;
  }

  .header__content {
    margin-left: 42px;
  }

  .footer__links1 {
    margin-right: 50px;
  }
  
  .footer__links3 {
    margin-right: 50px;
    display: flex;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 600px) {
  .header__content-text1 {
    max-width: 400px;
    font-size: 60px;
    line-height: 68px;
  }
  .header__content-text2 {
    max-width: 400px;
    font-size: 26px;
  }

  .footer__main-text {
    font-size: 22px;
  }

  .footer__main-text > span {
    font-size: 22px;
  }

  .last__page {
    margin-left: 42px;
  }

  .footer__end > p {
    padding-left: 42px;
  }
}

